body {
  background-color: #c69300;
}

h1 {
  color: #592a4a;
  margin-left: 10px;
  padding: 65px;
  border-radius: 25px;
  border: 2px dotted #000;
}

p {
  color: #b4ccff;

}

#zoomin {
  width: 150px;
  height: 150px;
  background: red;
  transition: width 1s, height 1s;
}

#zoomin:hover {
  width: 500px;
  height: 500px;
}

button {
  background-color: #404040;
  color: white;
  padding: 15px 32px;
  font-size: 16px;
}
