body {
  background-color: #c69300;
}

h1 {
  color: #592a4a;
  margin-left: 20px;
  padding: 35px;
  border-radius: 25px;
  border: 5px dotted #000;
}

p {
  color: #b4ccff;

}

#zoomin {
  width: 150px;
  height: 150px;
  background: red;
  transition: width 2s, height 2s;
}

#zoomin:hover {
  width: 200px;
  height: 200px;
}
